{% extends "base.html" %} {% block title %} Plans {% endblock %} 
{%block content%} 
{% include "nav.html" %}
<div class="container-fluid mt-3">

  <div class="overlay"></div>
  <div class="row content justify-content-md-center">
    <div class="col-sm-6 shadow p-3 mb-5 bg-body rounded">
      <div class="mb-3"> <h2>Plans: </h2>
        <em >Select plan and quantity</em></div>
     

          <!-- spinner -->
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>PLAN</th>
            <th>QUANTITY </th>
            <th>SET</th>
          </tr>
        </thead>
        <tbody>
          {% for p in Plans%}
          <tr>
            <td>{{p.desc}}</td>

            <td>
              <select class="form-select form-select-sm" id="{{p.plan_id}}">
                {% for item in "123"%}
                <option value="{{item}}">{{item}}</option>
                {%endfor%}
              </select>
            </td>
            <td>
              <a
                class="plan-class btn btn-info btn-sm"
                data-id="{{p.plan_id}}"
                data-url="{%url 'set_plans'%}"
                data-ofi="{{ofi_id}}"
                href="#"
              >
                set plan</a
              >
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%include 'footer.html'%}
{%endblock %}
